---
layout: default
classes: wide
---

<div id="main" role="main">
  {% include sidebar.html %}

  <div class=archive>
    <h1 id="page-title" class="page__title">Journal</h1>
      <h2>2020</h2>

      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr>
            <td style="padding:20px;width:30%;vertical-align:middle">
              <div class=one>
                <img src="../assets/images/spl_periocular.jpg" width="280">
              </div>
            </td>
            <td width="70%" valign="middle">
              <a href="https://ieeexplore.ieee.org/abstract/document/9159854/">
                <b style="font-size:17px">Periocular Recognition in the Wild With Generalized Label Smoothing Regularization</b>
              </a><br>
              <i><u><b>Yoon Gyo Jung</b></u></i>, Cheng Yaw Low, Jaewoo Park, and Andrew Beng Jin Teoh.
              <br>
              <em>IEEE Signal Processing Letters 27 (2020): 1455-1459.</em>
            </td>
          </tr>
        </tbody></table>



    <br>
    <br>
    <br>
    <br>
    <h1>Conference</h1>
      <h2>2020</h2>

          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr>
            <td style="padding:20px;width:30%;vertical-align:middle">
              <div class=one>
                <img src="../assets/images/icpr_oneclass.png" width="280">
              </div>
            </td>
            <td width="70%" valign="middle">
              <a href="">
                <b style="font-size:17px">Discriminative Multi-level Reconstruction under Compact Latent Space for One-Class Novelty Detection.</b>
              </a><br>
              Park, Jaewoo,<i><u><b>Yoon Gyo Jung</b></u></i>, and Andrew Beng Jin Teoh
              <br>
              <em>2020 25th International Conference on Pattern Recognition (ICPR 2020).<u>(oral)</u></em>
            </td>
          </tr>
          </tbody></table>

          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr>
            <td style="padding:20px;width:30%;vertical-align:middle">
              <div class=one>
                <img src="../assets/images/icpr_semi_supervised.png" width="280">
              </div>
            </td>
            <td width="70%" valign="middle">
              <a href="">
                <b style="font-size:17px">Revisiting ImprovedGAN with Metric Learning for Semi-Supervised Learning.</b>
              </a><br>
              Park, Jaewoo,<i><u><b>Yoon Gyo Jung</b></u></i>, and Andrew Beng Jin Teoh
              <br>
              <em>2020 25th International Conference on Pattern Recognition (ICPR 2020).</em>
            </td>
          </tr>
          </tbody></table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr>
            <td style="padding:20px;width:30%;vertical-align:middle">
              <div class=one>
                <img src="../assets/images/icdip_periocular.png" width="280">
              </div>
            </td>
            <td width="70%" valign="middle">
              <a href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/11519/115190T/Periocular-recognition-in-the-wild-with-learned-label-smoothing-regularization/10.1117/12.2573072.full?SSO=1">
                <b style="font-size:17px">Periocular Recognition in the Wild with Learned Label Smoothing Regularization.</b>
              </a><br>
              <i><u><b>Jung, Yoon Gyo</b></u></i>, Jaewoo Park, Leslie Ching Ow Tiong, and Andrew Beng Jin Teoh
              <br>
              <em>In Twelfth International Conference on Digital Image Processing (ICDIP 2020), vol. 11519,
                                  p. 115190T. International Society for Optics and Photonics, 2020.</em>
            </td>
          </tr>
          </tbody></table>



  </div>
</div>